@import "variables.less";
@import "mixins.less";
@import "animations.less";

html {
  box-sizing: border-box;
  font-family: "Fira Sans Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  background-color: @app-background-color;
  height: 100%;
  margin: 0;
  padding: 0;
}

body:fullscreen, body:-moz-full-screen, body:-webkit-full-screen {
  overflow: hidden;
}

body.noscroll {
  overflow: hidden;
}

iframe {
  border: 0;
  height: 100%;
  width: 100%;
}

button {
  background: none transparent;
  border: none;
  border-radius: 0px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="checkbox"], input[type="radio"] {
  display: none;
}

input[type="checkbox"] + label:before {
  border-radius: 4px;
  border: 2px solid @red;
  display: inline-block;
  content: " ";
  line-height: 17px;
  height: 20px;
  width: 20px;
}

input[type="checkbox"]:checked + label:before {
  background-color: @red;
  color: @white;
  content: "\2713";
  font-size: 16px;
  text-align: center;
}

input[type="radio"] + label {
  margin-left: 30px;
}

input[type="radio"] + label:before {
  border-radius: 50%;
  border: 2px solid @blue-pastel;
  display: inline-block;
  color: @blue-pastel;
  content: " ";
  font-size: 22px;
  height: 20px;
  left: 0;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 20px;
}

input[type="radio"]:checked + label:before {
  content: "\25CF";
}

.hidden {
  .hide();
}

#content, .readium, .bookcase {
  height: 100%;
}

/** Bookcase **/
.books .book {
  cursor: pointer;
  position: relative;
}

.books .book .book-select {
  display: none;
}

.books.selection .book .book-select {
  display: block;
}

.books.cover {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: (@toolbar-height + 0.5rem) 1rem @footerbar-height 1rem;
}

.books.cover .book {
  background-color: @light-gray;
  height: @bookcase-book-height;
  min-width: 5rem;
  margin: 0.3rem 0;
  text-align: center;
}

.books.cover .book img {
  height: @bookcase-book-height;
}

.books.cover .book span {
  .hide();
}

.books.selection.cover .book .book-cover {
  opacity: 0.7;
}

.books.cover .book .book-select {
  position: absolute;
  left: 40%;
  top: 40%;
}

.books.detail {
  margin: @toolbar-height 0 @footerbar-height 0;
}

.books.detail .book {
  align-items: center;
  border-top: 0.2rem solid @ivory;
  display: flex;
  width: 100%;
}

.books.detail .book .book-cover {
  margin: 0 0 -3px 0;
  padding: 0;
  width: 15%;
}

.books.detail .book .book-cover img {
  max-width: 100%;
}

.books.detail .book .book-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 0.2rem 0 1rem;
  width: 70%;
}

@media (orientation: landscape) {
  .books.detail .book .book-cover {
    width: 10%;
  }

  .books.detail .book .book-details {
    width: 75%;
  }
}

.books.detail .book .book-select {
  position: absolute;
  right: 1rem;
  top: 32%;
}

.books.detail .book .book-details > * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.book-details .book-details-title {
  font-size: 6vmin;
  font-weight: bold;
  margin-bottom: 0.1rem;
}

.book-details .book-details-authors {
  color: @gray-m2;
  font-size: 5vmin;
  margin-bottom: 0.3rem;
}

.bookcase .book > i {
  margin-top: 50%;
}

.bookcase .book.open {
  box-shadow: 0px 3px 50px 0px rgba(0, 0, 0, 0.5);
  transition-property: box-shadow;
  transition-duration: 0.4s;
}

input#book-upload {
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 556;
  -moz-appearance: none;
  -webkit-appearance: none;
}

/*** Bookcase options ***/
.bookcase-options-list {
  display: flex;
  flex-direction: column;
}

@media (orientation: landscape) {
  .bookcase-options-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .bookcase-options hr {
    display: none;
  }

  .bookcase-option:last-child {
    border-left: 1px solid @blue-pastel;
  }

  .bookcase-option ul {
    display: flex;
    flex-flow: wrap row;
  }

  .bookcase-option ul li {
    width: 10rem;
  }
}

.bookcase-option {
  font-family: "Fira Sans Light";
  margin-top: 1rem;
}

.bookcase-option ul {
  list-style: none;
  margin: 0;
  padding-left: 1rem;
}

.bookcase-option ul li {
  height: 2rem;
  line-height: 2rem;
  position: relative;
}

.bookcase-option-title {
  color: @blue-pastel;
  font-size: 1.5rem;
  padding-left: 1rem;
  text-transform: uppercase;
}

.bookcase-options hr {
  background: @blue-pastel;
  border: 0;
  height: 1px;
  width: 80%;
}


/** Gerneric Firefox bar **/
.bar {
  background-color: @toolbar-color;
  box-shadow: 0px 1px 1px #aaaaaa;
  color: @font-secondary-color;
  display: flex;
  font-family: Fira Sans Regular;
  height: @toolbar-height;
  justify-content: flex-start;
  overflow: hidden;
  position: fixed;
  transition: height 0.5s ease;
  width: 100%;
  will-change: height;
  z-index: 100;
}

.bar .title {
  font-size: 1.5rem;
  margin-left: @toolbar-back-width;
  line-height: @toolbar-height;
  opacity: 1;
}


/***** Book toolbar *****/
.toolbar {
  top: 0;
}

.toolbar.hidden {
  height: 0px;
  transition: height 0.5s ease;
}

.toolbar button {
  color: @font-secondary-color;
  float: right;
  line-height: inherit;
  margin: 0;
  padding: 0;
  z-index: 500;
}

.toolbar button:last-child {
  margin-left: auto;
  padding: 0 1rem;
}

.toolbar > .back {
  background: none transparent;
  border: 0px;
  border-radius: 0px;
  color: @font-secondary-color;
  height: 100%;
  line-height: inherit;
  width: @toolbar-back-width;
  z-index: 500;
}

.toolbar button.bookmark.on {
  color: @blue-pastel;
}

.toolbar-buttons {
  display: flex;
  justify-content: flex-start;
  margin-left: 16px;
  width: 100%;
}

.toolbar-buttons > button {
  padding: 0 8px;
}


/*** Bookcase header bar ***/
.headerbar {
  top: 0;
}

.headerbar .title {
  left: @toolbar-back-width;
  margin-left: 0px;
  position: absolute;
  transition-property: left;
  transition-duration: 0.5s;
}

.headerbar button {
  color: @search-text-color;
}

.headerbar .search {
  color: @search-text-color;
  display: flex;
  height: @toolbar-height;
  justify-content: flex-start;
  overflow-x: hidden;
  padding: 0 0 0 1rem;
  position: absolute;
  right: 0;
  top: 0;
  transition-property: width;
  transition-duration: 0.5s;
  width: 45px;
}

.headerbar button.search-display {
  min-width: 40px;
  height: 100%;
  left: 0;
  padding: 0;
  position: absolute;
  top: 0;
}

.headerbar .search-input-wrap {
  width: 100%;
}

.headerbar .search-input-wrap input {
  -webkit-appearance: none;
  background-color: @search-bg-color;
  background-image: none;
  border: 0px;
  border-radius: 0px;
  color: @search-text-color;
  display: block;
  font-family: "Fira Sans Light";
  font-size: 1.2rem;
  height: @toolbar-height;
  outline: 0;
  padding: 0;
  visibility: hidden;
  width: 105%;
}

.headerbar .search-input-wrap input::-webkit-input-placeholder {
  color: @search-text-color;
  opacity: 0.5;
}

.headerbar .search-input-wrap input::-moz-placeholder  {
  color: @search-text-color;
}

.headerbar button.search-cancel {
  font-size: 1rem;
  min-width: 5rem;
  text-transform: capitalize;
  visibility: hidden;
}


/*** Bookcase search bar ***/
.searchbar {
  background-color: @search-bg-color;
  color: @search-text-color;
}

.searchbar .title {
  left: -5 * @toolbar-back-width;
  position: absolute;
}

.searchbar .search {
  width: 100%;
}

.searchbar .search-input-wrap input {
  visibility: visible;
}

.searchbar button.search-display {
  position: relative;
}

.searchbar button.search-cancel {
  padding: 0 0.5rem;
  visibility: visible;
}

/*** Bookcase footer bar ***/
.footerbar {
  background-color: @footerbar-color;
  bottom: 0;
  height: @footerbar-height;
}

.footerbar button {
  color: @font-secondary-color;
  padding: 0;
  width: 20%;
}

.footerbar button:last-child {
  margin-left: 40%;
}

.footerbar button.selected {
  background-color: @blue;
}


/*** Bookcase action bar ***/
.actionbar {
  align-items: center;
  background-color: @actionbar-color;
  bottom: @footerbar-height;
  height: @actionbar-height;
  justify-content: space-around;
  padding: 0 0.5rem;
}

.actionbar button {
  background-color: @light-gray;
  border-radius: 3px;
  font-size: 1rem;
  height: 2.4rem;
  width: 46%;
}

.actionbar button:active {
  background-color: @darkblue;
}

.actionbar button.confirm {
  background-color: @red;
  color: @white;
}

.actionbar button.confirm:active {
  background-color: @darkred;
}


/**** Generic panel ****/
.panel {
  background-color: #ffffff;
  height: 100%;
  margin-top: @toolbar-height;
  overflow-y: auto;
  width: 100%;
  z-index: 50;
}

.panel .panel-title {
  background-color: @ivory;
  box-shadow: 1px 1px 1px #ccc;
  display: block;
  height: 2rem;
  line-height: 2rem;
  margin: 0;
  padding-left: @toolbar-back-width;
  width: 100%;
}

.panel.hidden {
  .hide();
}


/** Table Of Contents **/
.book-toc.panel, .book-bookmarks.panel {
  top: 0;
  position: absolute;
  transition: top 0.2s ;
}

.book-toc.panel.hidden, .book-bookmarks.panel.hidden {
  top: 100%;
  display: block;
}

.book-toc ul, .book-bookmarks ul {
  font-size: 1rem;
  list-style: none;
  padding: 0;
}

.book-toc > ul, .book-bookmarks > ul {
  margin-bottom: @toolbar-height + 2rem;
}

.book-toc a, .book-bookmarks a {
  color: @font-primary-color;
  display: block;
  margin-top: 0.6rem;
  margin-bottom: 0.2rem;
  padding-left: 1rem;
  text-decoration: none;
  width: 90%;
}

.book-toc a.level-2 {
  padding-left: 2rem;
}

.book-toc a.level-3 {
  padding-left: 3rem;
}

.book-toc-item ul {
  background-color: @toc-sub-entry-color;
  background-origin: padding-box;
  border-width: 1px 0;
  border-style: solid;
  border-color: @toc-sub-entry-border-color;
}

.book-toc-item ul:empty {
  border: none;
}

.book-toc-item-label {
  padding: 0.1rem 0 0.3rem 0;
}

.book-toc-item.current {
  background-color: #B2F2FF;
  background-origin: padding-box;
}

/** Bookmarks **/
.book-bookmarks .panel-title {
  display: flex;
  justify-content: space-between;
}

button.book-bookmark-add {
  font-size: 1rem;
  padding: 0.5rem;
}

button.book-bookmark-add > span {
  padding-left: 0.5rem;
}

.book-bookmark-label {
  display: flex;
  justify-content: space-between;
}

.book-bookmark-label button {
  padding: 0.3rem 1rem 0.3rem 0.5rem;
}

/** Pagination **/
.book-pagination {
  bottom: 0;
  color: @pagination-text-color;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  font-style: italic;
  height: @pagination-bar-height;
  position: absolute;
  width: 100%;
  will-change: height;
  transition: height 0.5s ease;
}

.book-pagination.expanded {
  height: @pagination-bar-expanded-height;
  transition: height 0.5s ease;
}

.book-pagination-chapters {
  text-align: center;
  visibility: hidden;
  width: 100%;
}

.expanded .book-pagination-chapters, .expanded .book-pagination-title {
  visibility: visible;
}

.book-pagination-pages {
  text-align: center;
  width: 100%;
}

.book-pagination .book-pagination-pages progress {
  background-color: @progress-bar-background;
  border: none;
  height: 0.4rem;
  width: 100%;
  -webkit-appearance: none;
  transition: height 0.5s ease;
}

.book-pagination.expanded .book-pagination-pages progress {
  height: 1.1rem;
  transition: height 0.5s ease;
}

.book-pagination-pages progress::-moz-progress-bar {
  background-color: @progress-bar-color;
}

.book-pagination-pages progress::-webkit-progress-bar {
  background: @progress-bar-background;
}

.book-pagination-pages progress::-webkit-progress-value {
  background: @progress-bar-color;
}

.book-pagination-title {
  height: 100%;
  line-height: 1rem;
  overflow: hidden;
  padding: 0.2rem 0.5rem;
  text-align: center;
  text-overflow: ellipsis;
  visibility: hidden;
  white-space: nowrap;
  width: 100%;
}

.book-pagination-page-destination {
  background-color: rgb(250, 250, 250);
  bottom: 1.5 * @pagination-bar-height;
  box-shadow: 2px 2px 8px 0 black;
  border-radius: 5px;
  color: @font-primary-color;
  .hide();
  padding: 1rem;
  position: absolute;
  z-index: 5000;
}

/** book Options **/
.book-options {
  background-color: rgba(0, 0, 0, 0.20);
  height: 100%;
  opacity: 1;
  overflow-y: auto;
  position: absolute;
  top: @toolbar-height;
  width: 100%;
  transition: opacity 0.3s ease;
}

.book-options.hidden {
  opacity: 0;
  overflow: hidden;
  z-index: -2;
  transition: opacity 0.3s ease;
}

.book-options.hidden > .book-options-content {
  height: 0;
  transition: height 0.5s ease;
}

.book-options-content {
  background-color: @options-panel-color;
  height: 45%;
  transition: opacity 0.5s ease;
}

.book-options-footer {
  background-color: @options-panel-footer-color;
  height: 2rem;
}

.waiting {
  background-color: @waiting-background-color;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.wheel {
  background: url(../images/actionicon_settings_30x30.png) no-repeat center;
  height: 2rem;
}

.book-options.working .wheel, .waiting .wheel {
  .vendors(animation-name, spin);
  .vendors(animation-duration, 2000ms);
  .vendors(animation-iteration-count, infinite);
  .vendors(animation-timing-function, linear);
}

.waiting .wheel {
  height: 100%;
}

.book-option-title {
  font-family: "Fira Sans Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0;
  padding: 0.2rem 0.5rem;
}

.book-option {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 0 1rem 0.5rem 1rem;
  width: 100%;
}

.book-option.font-size > span:first-child {
  font-size: 1.5rem;
}

.book-option.font-size > span:last-child {
  font-size: 2rem;
}

input[type=range] {
  background: transparent;
  border: none;
  height: 1.5rem;
  margin: 0 0.5rem;
  outline: none;
  width: 80%;
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-moz-range-track {
  background: @slider-color;
  height: 0.2rem;
}

input[type=range]::-webkit-slider-runnable-track {
  background: @slider-color;
  height: 0.2rem;
}

input[type=range]::-moz-range-thumb {
  border-radius: 1rem;
  height: 1.2rem;
  width: 1.2rem;
}

input[type=range]:focus::-moz-range-thumb, input[type=range]:focus::-webkit-slider-thumb {
  border: 0.3rem solid @slider-color;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #ffffff;
  border: 0.1rem solid #888888;
  border-radius: 1rem;
  cursor: pointer;
  height: 1.2rem;
  margin-top: -0.5rem;
  width: 1.2rem;
}

input[type=range]:focus::-webkit-slider-thumb {
  border: 0.1rem solid @slider-color;
}

@-webkit-keyframes spin {
  .transformKeyframes(webkit);
}

@-moz-keyframes spin {
  .transformKeyframes(moz);
}

.book-option.theme {
  flex-direction: column;
}

@media (orientation: landscape) {
  .book-option.theme {
    flex-direction: row;
  }

  .book-option.theme button {
    margin: 0 0.5rem;
  }
}

.book-option.theme button {
  border-radius: 4px;
  border: 1px solid #777;
  cursor: pointer;
  font-size: 1rem;
  height: 2rem;
  padding: 3px;
  margin-bottom: 0.5rem;
  text-align: center;
  width: 90%;
}

.author-theme {
  background-color: #ffffff;
  border-style: dashed !important;
  color: @font-primary-color;
  font-style: italic;
}

.night-theme {
  background-color: #141414;
  color: #d7d7d7;
}

.grey-theme {
  background-color: #c4c4c4;
  color: #292929;
}

/** book misc **/
.book-loading-cover {
  display: flex;
  justify-content: center;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2000000001;
}

.book-loading-cover-v {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.book-font-size-sample {
  display: block;
  position: absolute;
  width: auto;
}

.book-font-size-sample:after {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 50%;
  box-shadow: 2px 2px 8px 0 black;
  content: "";
  display: block;
  height: 0;
  padding-bottom: 100%;
  width: 100%;
  z-index: 555;
}

.book-font-size-sample div {
  color: black;
  float: left;
  line-height: 1em;
  margin-top: -0.5em;
  padding: 50% 0.5rem;
  text-align: center;
  width: 100%;
}