@import "variables.less";
@import "mixins.less";
@import "animations.less";

html {
  box-sizing: border-box;
  font-family: "Fira Sans Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  background-color: @app-background-color;
  height: 100%;
  margin: 0;
  padding: 0;
}

body:fullscreen, body:-moz-full-screen, body:-webkit-full-screen {
  overflow: hidden;
}

body.noscroll {
  overflow: hidden;
}

iframe {
  border: 0;
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none transparent;
  border: none;
  border-radius: 0px;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.hidden {
  .hide();
}

#content, .readium {
  height: 100%;
}

[data-icon]:before {
  width: 30px;
}


/**** Form elements ****/
input[type="checkbox"], input[type="radio"] {
  display: none;
}

input[type="checkbox"] + label:before {
  border-radius: 4px;
  border: 2px solid @red;
  display: inline-block;
  content: " ";
  line-height: 17px;
  height: 20px;
  width: 20px;
}

input[type="checkbox"]:checked + label:before {
  background-color: @red;
  color: @white;
  content: "\2713";
  font-size: 16px;
  text-align: center;
}

input[type="radio"] + label {
  margin-left: 30px;
}

input[type="radio"] + label:before {
  border-radius: 50%;
  border: 2px solid @blue-pastel;
  display: inline-block;
  color: @blue-pastel;
  content: " ";
  font-size: 22px;
  height: 20px;
  left: 0;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 20px;
}

input[type="radio"]:checked + label:before {
  content: "\25CF";
}

input[type=range] {
  background: transparent;
  border: none;
  height: 1.5rem;
  margin: 0 0.5rem;
  outline: none;
  width: 80%;
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-moz-range-track {
  background: @slider-color;
  height: 0.2rem;
}

input[type=range]::-webkit-slider-runnable-track {
  background: @slider-color;
  height: 0.2rem;
}

input[type=range]::-moz-range-thumb {
  border-radius: 1rem;
  height: 1.2rem;
  width: 1.2rem;
}

input[type=range]:focus::-moz-range-thumb, input[type=range]:focus::-webkit-slider-thumb {
  border: 0.3rem solid @slider-color;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #ffffff;
  border: 0.1rem solid #888888;
  border-radius: 1rem;
  cursor: pointer;
  height: 1.2rem;
  margin-top: -0.5rem;
  width: 1.2rem;
}

input[type=range]:focus::-webkit-slider-thumb {
  border: 0.1rem solid @slider-color;
}


/** Gerneric Firefox bar **/
.bar {
  background-color: @toolbar-color;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.32);
  color: @font-secondary-color;
  display: flex;
  height: @toolbar-height;
  justify-content: flex-start;
  overflow: hidden;
  position: fixed;
  transition: height 0.5s ease;
  width: 100%;
  will-change: height;
  z-index: 100;
}

.bar .title {
  font-size: 1.5rem;
  margin-left: @toolbar-back-width;
  line-height: @toolbar-height;
  opacity: 1;
  transition: transform 0.5s ease;
}

.warning .bar .title {
  margin-left: 0;
}

/**** Notification ****/
.notification {
  background-color: @ivory;
  box-shadow: 1px 1px 1px #ccc;
  display: block;
  height: 2rem;
  line-height: 2rem;
  margin: 0;
  padding-left: 1rem;
  position: fixed;
  top: @toolbar-height;
  width: 100%;
  z-index: 50;
}

.notification.alert {
  background-color: @red;
  color: @ivory;
}

/**** Generic panel ****/
.panel {
  background-color: #ffffff;
  display: block;
  height: 100%;
  overflow-y: auto;
  padding-top: @toolbar-height;
  position: absolute;
  transition: top 0.25s;
  top: 0;
  width: 100%;
  z-index: 50;
}

.panel-title {
  background-color: @ivory;
  box-shadow: 1px 1px 1px #ccc;
  display: block;
  height: 2rem;
  line-height: 2rem;
  margin: 0;
  padding-left: @toolbar-back-width;
  width: 100%;
}

.panel.hidden {
  display: none;
  top: 100%;
}

.panel ul {
  font-size: 1rem;
  list-style: none;
  padding: 0;
}

.panel > ul {
  margin-bottom: @toolbar-height + 2rem;
}

.panel a {
  color: @font-primary-color;
  display: block;
  margin-top: 0.6rem;
  margin-bottom: 0.2rem;
  padding-left: 1rem;
  text-decoration: none;
  width: 90%;
}


/**** Waiting screen ****/
.waiting {
  background-color: @waiting-background-color;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 50;
}

.wheel {
  color: @white;
  height: 2rem;
  text-align: center;
}

.working .wheel, .waiting .wheel {
  .vendors(animation-name, spin);
  .vendors(animation-duration, 2000ms);
  .vendors(animation-iteration-count, infinite);
  .vendors(animation-timing-function, linear);
}

.waiting .wheel {
  margin-top: 80%;
}


/**** Warning screen ****/
.warning {
  align-items: center;
  background-color: @white;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.warning .icon-warning {
  font-size: 3rem;
}

.warning .warning-content {
  font-size: 1.6rem;
  padding: 2rem;
  text-align: center;
}


/**** Animations ****/
@-webkit-keyframes spin {
  .transformKeyframes(webkit);
}

@-moz-keyframes spin {
  .transformKeyframes(moz);
}

@-webkit-keyframes glow {
  0%, 100% { background-color: @footerbar-color; }
  50% { background-color: @blue-pastel; }
}

@-moz-keyframes glow {
  0%, 100% { background-color: @footerbar-color; }
  50% { background-color: @blue-pastel; }
}

@-webkit-keyframes borderload {
   0%, 100% { border-color: @ivory; }
   50% { border-color: @blue-pastel; }
}

@-moz-keyframes borderload {
  0%, 100% { border-color: @ivory; }
  50% { border-color: @blue-pastel; }
}