@import "variables.less";

.picker, .picker body {
  background-color: @picker-background-color;
}

.picker header {
  background-color: @gray;
  color: @font-secondary-color;
  display: flex;
  font-family: Fira Sans Regular;
  height: @header-height;
  justify-content: flex-start;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}

.picker header .picker-title {
  font-size: 1.4rem;
  font-style: italic;
  line-height: @header-height;
  text-align: center;
  width: 100%;
}

.picker button.back {
  color: @white;
  width: 3rem;
}

.picker .picker-list {
  color: @ivory;
  display: flex;
  justify-content: center;
  height: 100%;
  margin-top: @header-height;
}

.picker-list-files {
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0.5rem 0 0 0;
  width: 100%;
}

.picker-list-files li {
  cursor: pointer;
  display: flex;
  height: 3.5rem;
  flex-direction: column;
  padding: 0;
  position: relative;
}

.picker-list-files li.empty, .picker-list-files li.error {
  height: 80%;
  justify-content: center;
}

.picker-list-files li.selected:before {
  content: '';
  background: rgba(0, 142, 171, 0.3);
  height: 3.5rem;
  margin: 0 4%;
  padding: 1rem 0;
  position: absolute;
  top: -0.6rem;
  width: 90%;
}

.picker-list-files li.selected:after {
  content: '\2713';
  right: 1%;
  padding: 1rem 0;
  position: absolute;
  top: -0.6rem;
}

@media (orientation: landscape) {
  .picker-list-files li.selected:after {
    right: 2%;
  }
}

.picker-list-files li:last-child hr {
  display: none;
}

.picker-list-files .picker-file-title {
  overflow: hidden;
  padding: 0 6%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.picker-list-files li.error .picker-file-title {
  overflow: auto;
  text-overflow: clip;
  white-space: normal;
}

.picker-list-files .picker-file-path {
  color: @gray-m1;
  font-size: 90%;
  overflow: hidden;
  padding: 0 6%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.picker-list-files hr {
  background: @gray;
  border: 0;
  height: 1px;
  margin-left: 4%;
  margin-top: 0.6rem;
  width: 90%;
}

.picker-ok {
  color: @font-secondary-color;
  font-size: 1rem;
  padding: 0 1rem;
}

.picker .waiting {
  background: none;
  height: auto;
  left: 49%;
  top: 50%;
  width: auto;
}