@import "variables.less";

.picker, .picker body {
  background-color: @picker-background-color;
}

.picker header {
  background-color: @gray;
  color: @font-secondary-color;
  display: flex;
  font-family: Fira Sans Regular;
  height: @header-height;
  justify-content: flex-start;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}

.picker header .picker-title {
  font-size: 1.4rem;
  font-style: italic;
  line-height: @header-height;
  text-align: center;
  width: 100%;
}

.picker .picker-list {
  color: @ivory;
  display: flex;
  justify-content: center;
  margin-top: @header-height;
}

.picker-list-files {
  list-style: none;
  margin: 0;
  padding: 0.5rem 0 0 0;
  width: 100%;
}

.picker-list-files li {
  cursor: pointer;
  display: flex;
  height: 3.5rem;
  flex-direction: column;
  padding: 0;
  position: relative;
}

.picker-list-files li.selected:before {
  content: '';
  background: rgba(0, 142, 171, 0.3);
  height: 3.5rem;
  padding: 1rem;
  position: absolute;
  top: -0.6rem;
  width: 100%;
}

.picker-list-files li:last-child hr {
  display: none;
}

.picker-list-files .picker-file-title {
  overflow: hidden;
  padding: 0 1.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.picker-list-files .picker-file-path {
  color: @gray-m1;
  font-size: 90%;
  overflow: hidden;
  padding: 0 1.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.picker-list-files hr {
  background: @gray;
  border: 0;
  height: 1px;
  margin-top: 0.6rem;
  width: 90%;
}

.picker-ok {
  color: @font-secondary-color;
  font-size: 1rem;
  padding: 0 1rem;
}

.picker .waiting {
  background: none;
}