/*** firefox palette ***/
@blue: #00AACC;
@orange: #FF4E00;
@brick: #CD6723;
@red: #B90000;
@green: #5F9B0A;
@black: #000000;
@warm-gray: #333333;
@gray: #2C393B;
@light-gray: #F4F4F4;
@ivory: #EAEAE7;
@blue-pastel: #00CAF2;
@gray-p1: #5F5F5F;
@gray-m1: #858585;
@gray-m2: #A6A6A6;
@white: #FFFFFF;
@darkblue: #008EAB;
@darkred: #820000;
@eggshell: #faebe1;

/*** Global properties ****/
@app-background-color: @ivory;
@font-primary-color: @black;
@font-secondary-color: @white;
@waiting-background-color: rgba(199, 199, 199, 0.8);
@header-height: 3rem;
@footer-height: 2.4rem;
@action-height: 4rem;

/******** Bookcase *******/
@bookcase-book-height: 8rem;


/***** Options panel *****/
@options-panel-color: @ivory;
@options-panel-footer-color: @gray-m2;


/*** Table Of Contents ***/
@toc-sub-entry-color: @light-gray;
@toc-sub-entry-border-color: @ivory;


/******** Toolbar ********/
@toolbar-color: @brick;
@toolbar-height: @header-height;
@toolbar-back-width: 2rem;


/******* Searchbar *******/
@search-bg-color: @brick;
@search-text-color: @white;


/****** Footer bar ******/
@footerbar-color: @warm-gray;
@footerbar-height: @footer-height;


/****** Action bar ******/
@actionbar-color: @warm-gray;
@actionbar-height: @action-height;


/******* Pagination ******/
@pagination-text-color: @gray-m1;
@pagination-bar-height: 1.4rem;
@pagination-bar-expanded-height: 2rem;
@slider-color: @blue-pastel;
@progress-bar-color: @brick;
@progress-bar-background: @ivory;


/*** Picker activity ****/
@picker-background-color: @black;