/******* colors *******/
@app-background-color: #ececec;

@toolbar-gradient-start: #cd6623;
@toolbar-gradient-end: #bb482d;

@shelf-gradient-start: #ececec;
@shelf-gradient-end: #c8c8c8;

/*** ebook Toolbar ***/
@toolbar-height: 3rem;