<div class="ebook-toolbar">
    <button class="back"><img src="images/actionicon_back_30x30.png" alt="back" /></button>
    <h1>Bibliothèque</h1>
</div>
<iframe id="sandbox" src="http://192.168.1.37:1339/index.html"></iframe>