<div class="bar toolbar">
    <button class="back"><i data-icon="back"></i></button>
    <div class="title" data-l10n-id="bookcase">Bookcase</div>
</div>
<div class="warning-content">
    <i class="icon-warning"></i>
    <p data-l10n-id="noValidConnection">You must have a valid internet connection in order to open your first book.</p>
    <p data-l10n-id="goSettings">Go to the settings to configure a Wifi connection.</p>
</div>