<div class="shelf-scan" data-l10n-id="scanSdCard">SCAN SD CARD</div>
<div class="shelf-reset" data-l10n-id="emptyShelf">EMPTY SHELF</div>
<div class="shelf-add">
    <span class="shelf-add-text" data-l10n-id="uploadFile">Upload</span>
    <input type="file" id="ebook-upload" />
</div>
{{#each shelves}}
    <div class="shelf-tab" id="shelf-{{this.id}}"></div>
{{/each}}