<div class="panel-title" >
    <span data-l10n-id="bookmarks">Bookmarks</span>
    <button class="book-bookmark-add">
        <i class="icon-bookmark"></i>
        <span data-l10n-id="addBookmark">bookmark page</span>
    </button>
</div>
<ul></ul>