<iframe id="sandbox" src="{{host}}/frame.html"></iframe>

<div class="book-loading-cover">
    <div class="book-loading-cover-v">
    {{#if book.coverUrl}}
        <img src="{{book.coverUrl}}" alt=" " />
    {{else}}
        <i class="icon-bookcase"></i>
    {{/if}}
    </div>
    <span data-l10n-id="loading" class="loading">This is loading...</span>
</div>