<iframe id="sandbox" src="{{host}}/index.html"></iframe>

<div class="book-loading-cover">
    <div class="book-loading-cover-v">
    {{#if book.coverUrl}}
        <img src="{{book.coverUrl}}" alt="cover"/>
    {{else}}
        <i class="icon-bookcase"></i>
    {{/if}}
    </div>
</div>