<iframe id="sandbox" src="http://192.168.10.10:1339/index.html"></iframe>
<span class="book-font-size-sample"><div>Abc</div></span>

<div class="book-loading-cover">
    <div class="book-loading-cover-v">
        <img src="{{coverUrl}}" alt="cover"/>
    </div>
</div>