<div class="book-options-content">
    <h3 class="book-option-title" data-l10n-id="textSize">Taille du texte</h3>
    <div class="book-option font-size">
        <span>A-</span>
        <input type="range" min="50" max="200" value="{{fontSize}}" step="1" />
        <span>A+</span>
    </div>
    <h3 class="book-option-title" data-l10n-id="textAndBackgroundColor">Couleur du texte et du fond</h3>
    <div class="book-option theme">
        <button title="Thème du livre" class="author-theme" data-l10n-id="bookTheme">Thème du livre</button>
        <button title="Mille et une Nuits" class="night-theme" data-l10n-id="nightTheme">Nuit</button>
        <button title="Gris" class="grey-theme" data-l10n-id="grayTheme">Gris</button>
    </div>
</div>
<div class="book-options-footer"><div class="wheel"><i data-icon="settings"></i></div></div>