<button class="back"><i data-icon="back"></i></button>
<button class="book"><i class="icon-bookcase"></i></button>
<div class="toolbar-buttons">
    <button class="table-of-contents"><i class="icon-list"></i></button>
    <button class="bookmark"><i class="icon-bookmark"></i></button>
    <button class="options"><i class="icon-settings"></i></button>
</div>