<div class="bar">
    <div class="title" data-l10n-id="drawerTitle">About</div>
</div>
<ul>
    <li class="sendUsageReports">
        <span data-l10n-id="sendUsageReports">Send usage reports</span>
        <input type="checkbox" id="sendUsageReports" {{#if sendUsageReports}}checked="checked"{{/if}} /><label for="sendUsageReports"></label>
    </li>
    <li class="whyUsageReports">
        <span data-l10n-id="whyUsageReports">Why usage reports?</span>
        <i data-icon="link"></i>
    </li>
    <li class="licenses">
        <span data-l10n-id="licenses">Licenses</span>
        <i data-icon="link"></i>
    </li>
    <li class="tea">
        <span>TEA - The ebook alternative</span>
        <i data-icon="link"></i>
    </li>
</ul>