<div class="bookcase-empty">
    <p data-l10n-id="welcome">Welcome to your bookcase!</p>
    <p data-l10n-id="noBookHere">There is no book here yet.</p>
    <p>
        <span data-l10n-id="useThePlusButton1">Maybe you could use the</span>
        <i class="fa fa-plus"></i>
        <span data-l10n-id="useThePlusButton2">button to add you own books?</span>
    </p>
</div>