<button class="add"><i class="icon-plus"></i></button>
<button class="hidden"><input type="file" multiple id="book-upload" /></button>
<button class="remove"><i class="icon-trash"></i></button>
<button class="sort"><i class="icon-sort"></i></button>