<button class="add"><i data-icon="add"></i></button>
<button class="hidden"><input type="file" multiple id="book-upload" /></button>
<button class="remove"><i data-icon="delete"></i></button>
<button class="sort"><i class="icon-sort"></i></button>