<button class="add"><i class="fa fa-plus fa-3x"></i></button>
<button class="remove"><i class="fa fa-trash fa-3x"></i></button>
<button class="sort"><i class="fa fa-sort-amount-desc fa-3x"></i></button>