<button class="back hidden"><img src="images/actionicon_back_30x30.png" alt="back" /></button>
<div class="toolbar-buttons">
    <button class="search"><i class="fa fa-search fa-3x"></i></button>
</div>