<button class="menu"><i data-icon="menu"></i></button>
<div class="title" data-l10n-id="bookcase">Bookcase</div>
<div class="search">
    <button class="search-display"><i data-icon="search"></i></button>
    <div data-l10n-id="searchTip" class="search-input-wrap">
        <input type="search" name="search-input" autosave autofocus placeholder="search for a book" />
    </div>
    <button type="button" data-l10n-id="cancel" class="search-cancel">Cancel</button>
</div>