<div class="ebook-options-content">
    <h3 class="ebook-option-title">TAILLE DU TEXTE</h3>
    <div class="ebook-option font-size">
        <span>A-</span>
        <input type="range" min="50" max="200" value="{{fontSize}}" step="1" />
        <span>A+</span>
    </div>
    <h3 class="ebook-option-title">COULEUR DU TEXTE ET DU FOND</h3>
    <div class="ebook-option theme">
        <button title="Thème du livre" class="author-theme">Thème du livre</button>
        <button title="Mille et une Nuits" class="night-theme">Nuit</button>
        <button title="Gris" class="grey-theme">Gris</button>
    </div>
</div>
<div class="ebook-options-footer"><div class="wheel"></div></div>