<div class="ebook-options-content">
    <div class="ebook-option font-size">
        <span>A-</span>
        <input type="range" min="40" max="250" value="{{fontSize}}" step="1" />
        <span>A+</span>
    </div>
</div>
<div class="ebook-options-footer"></div>