<span class="ebook-pagination-chapters">
    <i class="fa fa-list"></i>{{chapterCurrent}}/{{chapterTotal}}
</span>
<span class="ebook-pagination-pages">
{{#if pageDisplayed}}
    <progress value="{{pageCurrent}}" max="{{pageTotal}}"></progress>
{{/if}}
</span>