<button class="back"><img src="images/actionicon_back_30x30.png" alt="back" /></button>
<button class="bookshelf"><i class="fa fa-book fa-3x"></i></button>
<div class="ebook-toolbar-buttons">
    <button class="bookmark"><i class="fa fa-bookmark fa-3x"></i></button>
    <button class="table-of-contents"><i class="fa fa-bars fa-3x"></i></button>
</div>